<section class="all-contacts">
    <div class="head">
        <h2>CONTACT LIST</h2>
        <button>Add New Contact
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
    <div class="contacts">
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
        <div class="Card">
            <div>
                <img src="../../../../../assets/images/dummy-profile.png" alt="">
                <fa-icon [icon]="faInfo"></fa-icon>
            </div>
            <div>
                <h5>CONTACT NAME</h5>
                <span>+971 11 111 1111</span>
            </div>
        </div>
    </div>
</section>