<section class="banner">
    <div class="top">
        <span class="icon">
            <mat-icon>camera_enhance</mat-icon>
        </span>
    </div>
    <div class="bottom">
        <img class="profile-img" src="../../../../assets/images/dummy-profile.png" alt="">
        <div class="social-name">
            <h3>JOIN DOE</h3>
            <span class="badge">Quality Assurance</span>
            <span class="socials">
                <img src="../../../../assets/icons/linkedin.png" alt="">
                <img src="../../../../assets/icons/instagram.png" alt="">
                <img src="../../../../assets/icons/facebook.png" alt="">
                <img src="../../../../assets/icons/twitter.png" alt="">
                <img src="../../../../assets/icons/youtube.png" alt="">
            </span>
        </div>
        <div class="social-details">
            <img src="../../../../assets/icons/briefcase.png" alt="">
            <span>Work at Salina Group</span>
            <img src="../../../../assets/icons/location.png" alt="">
            <span>United Arab Emirates</span>
            <img src="../../../../assets/icons/graduation.png" alt="">
            <span>Student at Ajman University</span>
        </div>
    </div>
</section>