<section class="top-navbar">
    <div class="inner-nav">
        <div class="left-side">
            <div class="logo">
                <img src="../../../../assets/images/email-icon.png" alt="">
                <div class="logo-text">
                    <h5>ADD MAIL</h5>
                    <p>Lorem Ipsom</p>
                </div>
            </div>
            <div class="search-bar">
                <form>
                    <input type="text" class="form-control" placeholder="Search Here" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </form>
            </div>
        </div>
        <div class="right-side">
            <div class="badges">
                <div class="bell">
                    <fa-icon [icon]="faBell"></fa-icon>
                </div>
                <div class="text">
                    <mat-icon matBadge="15" matBadgeColor="warn">message</mat-icon>
                </div>
                <div class="mail">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
            </div>
            <div class="profile-pic">
                <img src="../../../../assets/images/dummy-profile.png" alt="">
            </div>
        </div>
    </div>
</section>
