<section class="address-section">
    <div class="head">
        <h2>MY ADDRESS</h2>
        <button>Add New Address
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
    <div class="all-addresses">
        <div class="card">
            <h4>ADDRESS NAME</h4>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>United Arab Emirates, Ajman</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Company Building Name</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Address Street</p>
            </div>
            <fa-icon [icon]="faPager"></fa-icon>
        </div>
        <div class="card">
            <h4>ADDRESS NAME</h4>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>United Arab Emirates, Ajman</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Company Building Name</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Address Street</p>
            </div>
            <fa-icon [icon]="faPager"></fa-icon>
        </div>
        <div class="card">
            <h4>ADDRESS NAME</h4>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>United Arab Emirates, Ajman</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Company Building Name</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Address Street</p>
            </div>
            <fa-icon [icon]="faPager"></fa-icon>
        </div>
        <div class="card">
            <h4>ADDRESS NAME</h4>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>United Arab Emirates, Ajman</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Company Building Name</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Address Street</p>
            </div>
            <fa-icon [icon]="faPager"></fa-icon>
        </div>
        <div class="card">
            <h4>ADDRESS NAME</h4>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>United Arab Emirates, Ajman</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Company Building Name</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Address Street</p>
            </div>
            <fa-icon [icon]="faPager"></fa-icon>
        </div>
        <div class="card">
            <h4>ADDRESS NAME</h4>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>United Arab Emirates, Ajman</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Company Building Name</p>
            </div>
            <div class="show-address">
                <fa-icon [icon]="faPlus"></fa-icon>
                <p>Address Street</p>
            </div>
            <fa-icon [icon]="faPager"></fa-icon>
        </div>
    </div>
</section>