.address-section {
    width: 53%;
    margin-left: 21%;
    margin-top: 20px;
    height: 380px;
    overflow: auto;

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h2 {
            font-size: 32px;
            color: #4b81c1;
            font-weight: bold;
            position: relative;

            &::after {
                content: "";
                height: 4px;
                width: 70px;
                margin-top: 20px;
                display: block;
                background-color: #4b81c1;
            }
        }

        button {
            background: transparent;
            color: #999999;
            border: 3px dotted #999999;
            border-radius: 24px;
            padding: 10px 20px;
        }
    }

    .all-addresses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
            width: 49%;
            padding: 20px;
            position: relative;
            margin-bottom: 20px;

            h4 {
                font-weight: bold;
                font-size: 16px;
            }

            .show-address {
                display: flex;
                align-items: center;
                color: #999999;

                fa-icon {
                    margin-right: 10px;
                    position: relative;
                    right: auto;
                    top: auto;
                    font-size: 14px;
                }

                p {
                    margin: 0px;
                }
            }
        }

        fa-icon {
            color: #999999;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 18px;
        }
    }
}