.work-experience {
    width: 53%;
    margin-left: 21%;
    margin-top: 20px;
    height: 380px;
    overflow: auto;
    h2 {
        font-size: 32px;
        color: #4b81c1;
        font-weight: bold;
        position: relative;
        &::after {
            content: "";
            height: 4px;
            width: 70px;
            margin-top: 20px;
            display: block;
            background-color: #4b81c1;
        }
     }
     .data {
        display: flex;
         .card {
             box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
             width: 45%;
             padding: 10px 15px;
             border-radius: 14px;
             margin-bottom: 20px;
             h4 {
                 font-size: 20px;
                 font-weight: bold;
                }
                h6 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #999999;
                }
                p {
                    color: #999999;
                    font-size: 14px;
                    margin: auto;
                }
            }
            p {
                margin: 50px 0px 0px 15px;
                font-size: 16px;
                color: #999999;
            }
        }
    }