<section class="work-experience">
    <h2>WORK EXPERIENCES</h2>
    <div class="data">
        <div class="card">
            <h4>COMPANY NAME</h4>
            <h6>Quality Assurance</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <p>2016</p>
    </div>
    <div class="data">
        <div class="card">
            <h4>COMPANY NAME</h4>
            <h6>Quality Assurance</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <p>2016</p>
    </div>
</section>
