<section class="tabs">
    <div class="tabs-inner">
        <a [routerLink]="['/home']">
            <img src="../../../../assets/icons/home.png" alt="">
            <button>HOME</button>
        </a>
        <a [routerLink]="['/businessDetails']">
            <img src="../../../../assets/icons/briefcase.png" alt="">
            <button>BUSINESS DETAILS</button>
        </a>
        <a [routerLink]="['/work']">
            <img src="../../../../assets/icons/google-docs.png" alt="">
            <button>WORK EXPERIENCES</button>
        </a>
        <a [routerLink]="['/contact']">
            <img src="../../../../assets/icons/support.png" alt="">
            <button>CONTACTS</button>
        </a>
        <a [routerLink]="['/video']">
            <img src="../../../../assets/icons/film.png" alt="">
            <button>VIDEOS</button>
        </a>
        <a [routerLink]="['/image']">
            <img src="../../../../assets/icons/photo.png" alt="">
            <button>IMAGES</button>
        </a>
        <a [routerLink]="['/address']">
            <img src="../../../../assets/icons/address.png" alt="">
            <button>ADDRESSES</button>
        </a>
    </div>
</section>