<section class="videos">
    <h2>VIDEOS GALLERY</h2>
    <div class="all-videos">
        <div class="display-video">
            <img src="../../../../../assets/images/video-bg.jpeg" alt="">
            <fa-icon  [icon]="faPlay"></fa-icon>
            <h5>VIDE0 NAME HERE</h5>
        </div>
        <div class="display-video">
            <img src="../../../../../assets/images/video-bg.jpeg" alt="">
            <fa-icon  [icon]="faPlay"></fa-icon>
            <h5>VIDE0 NAME HERE</h5>
        </div>
        <div class="display-video">
            <img src="../../../../../assets/images/video-bg.jpeg" alt="">
            <fa-icon  [icon]="faPlay"></fa-icon>
            <h5>VIDE0 NAME HERE</h5>
        </div>
        <div class="display-video">
            <img src="../../../../../assets/images/video-bg.jpeg" alt="">
            <fa-icon  [icon]="faPlay"></fa-icon>
            <h5>VIDE0 NAME HERE</h5>
        </div>
        <div class="display-video">
            <img src="../../../../../assets/images/video-bg.jpeg" alt="">
            <fa-icon  [icon]="faPlay"></fa-icon>
            <h5>VIDE0 NAME HERE</h5>
        </div>
        <div class="display-video">
            <img src="../../../../../assets/images/video-bg.jpeg" alt="">
            <fa-icon  [icon]="faPlay"></fa-icon>
            <h5>VIDE0 NAME HERE</h5>
        </div>
    </div>
</section>